VITE_BACKEND_URL="https://YOUR_BACKEND_DOMAIN"
VITE_APP_NAME="YearBeat"

VITE_FIREBASE_API_KEY="YOUR_FIREBASE_API_KEY"
VITE_FIREBASE_AUTH_DOMAIN="yearbeat-2fad8.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="yearbeat-2fad8"
VITE_FIREBASE_APP_ID="YOUR_FIREBASE_APP_ID"
